body {
	font: 0.9em Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #D2D7E4;
	color: #000000;
	background-image: url(chic.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
    background-attachment: fixed;
}

h1, h2 {
	font-family: 'Fauna One', Helvetica, sans-serif;
	color: #FBEFEF;
	padding: 10px;
	font-size: 75px;
}

div{ 
	font-family: 'Fauna One', Helvetica, sans-serif; font-size: 1.01em; color: #FBEFEF;
}

#nav a:link, #nav a:visited {
	font-family: 'Fauna One', Helvetica, sans-serif; font-size: 1.01em; color: #FBEFEF;
	text-decoration: none;
	background-color: transparent;
}

#nav a:hover {
	color: #778899;
}

div#content {
	margin-left: 2em;
	margin-right: 6em;
	width: 30em;
}

div#nav {
	position: absolute;
	top: 5em;
	right: 20em;
	width: 25em;
}

div#footer{
   position:fixed;
   bottom:0px;
   left:0px;
   right:0px;
   height:40px;
   color: #FBEFEF;
   text-align: right;
   font-size: 10px;
}